<div class="container">
  {{#each data}}
  <img src="{{image}}" alt="">
  <div class="info">
    <h2>{{title}}</h2>
    <h3>{{director}}</h3>
    {{!-- <h4>Stars</h4> --}}
    <p>{{stars}}</p>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
  </div>
  {{/each}}
</div>